/*
 * @Author: czy0729
 * @Date: 2020-02-27 16:33:41
 * @Last Modified by: czy0729
 * @Last Modified time: 2020-10-27 11:01:20
 */
@import '@styles/theme';

.page {
  min-height: 100vh;
  padding-bottom: 112px;
}
.container {
  background: $color-plain;
}
.title {
  padding: 40px $wind 0;
}
