/*
 * @Author: czy0729
 * @Date: 2020-02-27 19:18:10
 * @Last Modified by: czy0729
 * @Last Modified time: 2020-05-25 17:11:28
 */
@import '@styles/theme';

.detail {
  padding-top: 20px;
  background: rgba(249, 249, 249, 1);
  overflow: hidden;
}
.copyright {
  padding: 20px $wind 40px;
}
